<ul>
    {{#each quest}}
    <li>
        <p> Question: {{question}}</p>
        <p>User: {{user}}</p>
    </li>
   <a href="/questions/3" class ="btn btn-outline-warning">View</a>
    {{/each}}
</ul>

